@page
@model IndexModel

@{
    ViewData["Title"] = "Aphelion";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="WebApplication1\wwwroot\css\site.css" />
</head>
<body>
    <h2 class="h2">User information</h2>
    <section class="user_info container-user">
        <h4 class="h3">Name</h4>
        <br />
        <h4 class="h3-2">Employee Number</h4>
        <br />
    </section>
</body>
</html>
