@page
@model IndexModel

@{
    ViewData["Title"] = "Aphelion";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="WebApplication1\wwwroot\css\site.css" />
</head>
<body>
    <h2 class="h2">Welcome to Aphelion Information System</h2>
   
</body>
</html>
